
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html,body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#4B946A;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;	

}
body {
    font-size:2em;
    position:relative;
    margin-top:45%;
    margin-bottom:auto;
}
#body{
	margin-left:10%;
	margin-right:10%;
}
html {
	font-size:30%;
}
@font-face {
    font-family: 'GochiHand-Regular';
    src: url('../fonts/GochiHand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/* Portrait layout (default) */
.app {
    font-family:'GochiHand-Regular';
 	vertical-align:middle;
 	font-size:250%;
 	margin-top:30%;
 }


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
@media (min-width: 300px) {
    html { font-size: 35%; }
}

@media (min-width: 500px) {
    html { font-size: 60%; }
}

@media (min-width: 700px) {
    html { font-size: 90%; }
}
@media (min-width: 1000px) {
    html { font-size: 134%; }
}
@media (min-width: 1200px) {
    html { font-size: 155%; }
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
#backgroundTitle {
	color: #FFFFFF;
	text-align:center;

}

#Cent-Div{
    height:100%;
    width:100%;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
}


#imgback{
    margin-left: auto;
    margin-right: auto;
}
#txtTitle{
	background-color: #3071a9;
	border-radius: .25em;
	color: #fff;
	font-size:220%;
	font-weight: bold;
	margin-top:auto;
	margin-bottom: auto;
	margin-left:auto;
    margin-right:auto;
	padding: .2em .6em .3em;
	vertical-align:top;
	width:100%;
	text-align:center;
}

.form-control{
	width:100%;
}
#tbl{
	display:table;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}
#tblLeft{
	vertical-align:middle;
	margin-top:auto;
	margin-bottom: auto;
	display:table-cell;
	float: left;
	width:90%;
	height:100%;
	margin-right:auto;
	margin-left:5%;

}

#tblRight{
	vertical-align:middle;
	background-image: url(../img/thermo.jpg);
	background-position:middle;
	background-repeat: no-repeat;
	background-size: auto 100%;
	display:table-cell;
	margin-left: auto;
	margin-right:5%;
	margin-top: auto;
	margin-bottom:auto;
	width:10%;	
	z-index:-1;
}

.input-group-addon{
	font-size:220%;
	height:100%;
	width:30%;
}
.form-control{
	height:100%;
	width:70%;
	font-size:200%;
}
